<a href="https://colab.research.google.com/github/UtkarshArora/hello-world/blob/master/datewise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [0]:
da=pd.read_csv('data_sheet1.csv')

X=da[['Date','Month']]
y=da['cases']

In [0]:
X

     Date  Month
0      30      1
1      31      1
2       1      2
3       2      2
4       3      2
..    ...    ...
113    23      5
114    24      5
115    25      5
116    26      5
117    27      5

[118 rows x 2 columns]

In [0]:
y=y.values.reshape(-1,1)

In [0]:
np.shape(y)

(118, 1)

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [0]:
regressor=LinearRegression(normalize=True)
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [0]:
accuracy=regressor.score(X_test,y_test)

In [0]:
accuracy

0.5905738595272196

a=np.array(a)

In [0]:
a=[[7,31]]

In [0]:
np.shape(a)

(1, 2)

In [0]:
y_pred=regressor.predict(a)

In [0]:
y_pred

array([[675497.98762719]])